* {
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  background-color: hsl(229, 62%, 41%);
  height: 100vh;
  place-items: center;
}

button {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  background-color: transparent;
  border: 5px solid #fff;
  color: #fff;
  letter-spacing: 1.4px;
  border-radius: 50px;
  cursor: pointer;
  outline: none;
}
